html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
* {
    -webkit-tap-highlight-color: transparent;
}

:not(:defined){
    display: none;
}

s-card>[slot='headline'] {
    color: var(--s-color-primary);
}
s-bottom-sheet>div {
    padding: 10px;
    min-height: 200px;
}
.big-title {
    font-size: xx-large;
    font-weight: bold;
    color: var(--s-color-primary);
    padding: 40px 60px;
    text-align: center;
}

#tooltips {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

#fullscreen-loading-tip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
    font-family: 'Microsoft YaHei UI Light', 'Microsoft YaHei UI', 'Arial', 'monospace';
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 10;
    transition-duration: 1s;
}
#fullscreen-loading-tip.done {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

#sidebar {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#nav {
    flex: 1;
}
#nav>s-ripple {
    display: flex;
    align-items: center;
    height: 40px;
    color: var(--s-color-on-surface);
    padding: 0 24px;
    font-size: .875rem;
    border-radius: 28px;
    margin: 8px;
    white-space: nowrap;
}
#nav>s-ripple.checked {
    color: var(--s-color-primary);
    background: var(--s-color-secondary-container);
    color: var(--s-color-on-secondary-container);
}
#nav>s-ripple>s-icon {
    margin-right: 10px;
}
#nav-buttons-container {
    display: flex;
    flex-direction: row;
    padding: 8px;
}
#nav-buttons-container>* {
    margin: 5px;
}

#main-content {
    display: flex;
    flex-direction: column;
}
#pages-container {
    overflow: hidden;
    flex: 1;
}
#pages-container>* {
    height: 100%;
}
#pages-container>*:not(.active) {
    display: none;
}

#home-cards {
    display: grid;
    columns: auto;
    justify-items: stretch;
    align-items: start;
    margin: 10px;
}
@media screen and (min-width: 1024px) {
    #home-cards {
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (max-width: 1024px) {
    #home-cards {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 768px) {
    #home-cards {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 480px) {
    #home-cards {
        grid-template-columns: auto;
    }
}
#home-cards>s-card {
    margin: 10px;
    padding: 10px;
    min-width: min(300px, calc(100% - 20px));
    min-height: 150px;
}
#card-info {
    min-width: min(450px, calc(100% - 20px)) !important;
    min-height: 200px !important;
}

#main-tab * {
    font-size: large;
}
#tab-content #none-text {
    text-align: center;
    color: var(--s-color-secondary);
    padding: 10px;
}
#tab-content:not(.empty) #none-text {
    display: none;
}
#content-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
#content-buttons s-ripple {
    margin: 10px 4px;
    padding: 30px 40px;
    min-width: 300px;
    min-height: 100px;
    border-radius: 20px;
    box-sizing: border-box;
    transition-duration: 0.5s;
}
#content-buttons s-ripple .headline {
    font-size: large;
    font-weight: bold;
}

#picture-view-dialog::part(view) {
    display: flex;
    flex-direction: column;
}
#picture-view-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#picture-view-image-wrapper {
    width: 100%;
    min-height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--s-color-surface-container);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 80%;
    max-height: 80%;
}
#picture-view-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#page-developers {
    padding: 20px;
    text-align: center;
}

#developer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center; /* Center the content horizontally */
}

#developer-list>s-card {
    padding: 15px 30px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#developer-list>s-card>.name {
    font-size: large;
    font-weight: bold;
}

#developer-list>s-card>.role {
    font-size: medium;
    color: var(--s-color-secondary);
}
